<h2> Admin - <%= @event.name %> </h2>

<div id="adminevent">
</div>

<script type="text/javascript">
  var EVENT_KEY = "<%=@event.key %>";
</script>
<script src="/cdn/admin_event.js" crossorigin></script>