.red {
  color: #ff4444 !important;
}

.orange {
  color: #bd6d07 !important;
}

.dq {
  color: #ff4444 !important;
}

.green {
  color: #5f975f !important;
}

.gray {
  color: #999999 !important;
}

.gold {
  color: #ac921e !important;
}

.silver {
  color: #999999 !important;
}

.bronze {
  color: #755730 !important;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

td {
  padding-top: 0;
  padding-bottom: 0;
}

.button {
  margin-right: 0.5rem;
}

.button-selected {
  color: #666666 !important;
}

table {
  width: 100%;
}

html {
  overflow-y: scroll;
}

h4 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.input-range {
  height: 7rem !important;
}

.input-range__label--min, .input-range__label--max {
  bottom: 4rem !important;
  visibility: hidden;
}

.input-range__label {
  font-size: 1.5rem !important;
  font-family: inherit !important;
}

.input-range__label--value {
  font-size: 1.7rem !important;
  top: 0.6rem !important;
  color: #606c76 !important;
}

.input-range__slider {
  height: 1.5rem !important;
  width: 1.5rem !important;
  margin-top: -0.85rem !important;
}